@charset "UTF-8"  ;  

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto+Condensed:wght@300;400;700&display=swap');
body {font-family: 'Roboto Condensed', sans-serif;}

/* header */

.header_container {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  width:100%; height:80px; 
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index:10000;
}
.header_container.on {background: #71989F;} 
header {
  width: 90%; height: 100%; 
  margin: auto;
  position: relative;
}
.header_main h1 {
  position: absolute;
  left: 0;
  margin-top: 26px;
  width: 100px; height: 28px;
  margin-left:-20px; 
  background: url('../img/logo-wh.png') no-repeat center center/ 100%;
  background-size: contain;
  text-indent: -9999px;
}
.trigger{
  display: none;
}
.navbar ul.navbar_gnb {
  position: absolute;
  right: 0; 
  text-align:center; 
}
.navbar .navbar_gnb > li {
    display: inline-block;
    margin: 0 16px;
}
.navbar_gnb a {
    display: block;
    font-size: 1.7vw;
    line-height: 80px;
    color: #fff;
}
.navbar_gnb a:hover {
    text-decoration: underline;
}

.dark {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.2);
  z-index:100;
  /* margin 설정, 안쪽으로 나 자신(꽉 차있는 상태)이 줄어들면서 표현*/
}

/* main */
.section1, .section2, .section4{
  height: 100vh;
}

/***** section1 ******/


/** section2-left **/
main > .section2 {
  width: 100%; height: 100vh;
  font-size: 1.1vw;
}
.section2 .s2-inner {
  width: 77%; height: 85%;
  padding: 2% 0;
  background: rgba(255,255,255,0.4);
  display: flex;
  transition: 0.3s;
}
.section2 .s2-inner h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.5vw;
  font-weight: 400;
  margin-bottom: 10%;
}
article.profile-1 {
  flex: 1;
  padding: 2% 0 2% 6%;
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans KR', sans-serif;
}
article.profile-1 > h2 {
  margin-bottom: 20px;
}
.profile-top {
  vertical-align: text-bottom;
}
.profile-top img {
  display: inline-block;
  width: 25%;
}
.profile-top .top-right {
  display: inline-block;
  vertical-align: bottom;
  padding-left:  5%;
  line-height: 1.8;
}
article.profile-1 .name, 
article.profile-1 .contents {
  display: inline-block;
}
article.profile-1 .contents{
  font-weight: 300;
}
.profile-top .name {
  margin-right: 14px;
}
.profile-top .name p {}
.profile-top .contents {
  font-weight: 400;
}
.profile-top .contents p {}
.profile-bottom {
  padding: 5% 0 0 2%;
  line-height: 1.8;
}
.profile-bottom .name {
  vertical-align:top;
  margin-right: 20px;
}
.profile-bottom .name p {
}
.profile-bottom .contents {
  font-size: 1vw;
}
.profile-bottom .edu {
  margin-bottom: 4%;
}
/** section2-right **/

article.profile-2 {
  position: relative;
  flex: 1;
  padding: 2% 6%;
  font-size: 1vw;
  font-weight: 400;
}
article.profile-2 h2 {
  margin-bottom: 10%;
}

.skillbar {
  position: relative;
  display: block;
  margin-bottom: 5%;
  width: 100%;
  background: #eee;
  height: 30px;
  border-radius: 30px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  font-weight: 400;
  font-size: 0.9em;
  color: #fff;
  border-radius: 30px;
}

.skillbar-title span {
  display: block;
  background: rgba(86, 11, 11, 0.2);
  padding: 0 2vw;
  height: 30px;
  line-height: 30px;
  border-radius: 30px;
}

.skillbar-bar {
  height: 30px;
  width: 0px;
  border-radius: 30px;
  background: #6adcfa;
}
.resume {
  position: absolute;
  right: 10%;
  display:inline-block; 
  border-radius: 5px;
  padding: 10px 6%;
  background: #ddd;
  text-align: center;
  line-height: 10px;
  color: #557378;
  margin-top: 5%;
  font-size: 1.1vw;
  font-weight: 600;
  margin-right: 5px;
  letter-spacing: 2px;
}
.resume:hover {
  background: #454545 ;
  text-align: center;
  line-height: 10px;
  color: #fff;
}
/* section3 */
.section3 {}
.content--full {
  position: relative;
	height: 100vh; width: 100vw;
}
.content-layout {
  display: flex;
  width: 100%;
}
.content__item-img {
  flex: 1;
  padding: 0 5% ;
  z-index: 10;
}
.content__item-img img {
	width: 40vw;
}
.content__title-wrap {
  flex: 2;
  text-align: right;
  margin:2% 10% 0 0 ;
}
.layout-right .content__title-wrap {
  flex: 1;
  text-align: left;
  margin:2% 0 0 10%;
}
.layout-right .m-block {
  display: none;
}
.content__title-wrap h2 {
  font-size: 4.2vw;
  letter-spacing: 2px;
  color: #fff;
}
.content__title-wrap p {
  padding-top: 3%;
  font-size: 1.7vw;
  color: #ddd;
  font-family: 'Noto Sans KR', sans-serif;
}
.content__title-wrap .intro {
  font-size: 1.2vw;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 1.2px;
  color: #fff;
}
.content--full span{
  position: absolute;
  top: 55%;
  width: 78%; height: 2px;
  background: #fff;
}
.layout-right span{
  left: 10%;
}
.layout-left span{
  right: 10%;
}
.viewsite {
  display:inline-block; 
  border-radius: 40px;
  padding: 1% 6%;
  background: #557378;
  text-align: center;
  line-height: 40px;
  color: #fff;
  margin-top: 7vh;
  font-size: 1.1vw;
  margin-right: 5px;
  letter-spacing: 2px;
}
.viewsite:hover {
  background: #ddd;
  color: #000;
}

